@font-face {
    font-family: "Button";
    src: url("font_bottons_music_pro/font\ bottons\ music\ pro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

#prueba{
    font-family: "Button";
    font-size: 100px;
}

*{
    padding: 0px;
    margin: 0px;
}

#titulo{
    color: red;
    text-align: center;
    padding: 20px;
    border: solid red 2px;
    margin: 10px;
}

body{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    border: solid red 2px;
    text-align: center;
}

div{
    margin: 0px auto;
    padding: 50px;
    border: solid red 2px;
    margin: 10px;
}