div {
    text-align: center;
}

h1 {
    padding: 20px;
}

button {
    margin: 10px;
    border-radius: 10px;
    width: 92px;
    font-family: 'digitalClock';
    font-size: 1.5em;
    margin-top: 15px;
}

#clockAndBtn{
    margin-top: 20px;
}

#reloj {
    font-size: 8em;
    width: 320px;
    height: auto;
    margin: 0px auto;
    border-radius: 15px;
    font-family: 'digitalClock';
}

#clockAndBtn{
    margin-top: 10px;
}

#stopDiv{
    margin-top: 10px;
}

/*@font-face {
    font-family: "digitalClock";
    src: url("src/assets/font/DS-DIGI.TTF") format("truetype");
}*/

