div {
    text-align: center;
}

h1 {
    padding: 20px;
}

#infoBlocks{
    pointer-events: none;
    width: 318px;
    margin-top: 3px;
}

button {
    margin: 10px;
    border-radius: 10px;
    width: 92px;
    font-family: 'digitalClock';
    font-size: 1.5em;
}

#clockAndBtn{
    margin-top: 20px;
}

#reloj {
    font-size: 8em;
    width: 318px;
    height: auto;
    margin: 0px auto;
    border-radius: 15px;
    font-family: 'digitalClock'
}

/*@font-face {
    font-family: "digitalClock";
    src: url("src/assets/font/DS-DIGI.TTF") format("truetype");
}*/

