<!-- <div class="container">

    <button style="width: 148px; height: 90px;" #longBreak15 class="btn btn-warning btn-sm shadow-lg"
        (click)="longBreak(15,0)">15' LONG BREAK</button>

    <button style="width: 148px; height: 90x;" #longBreak30 class="btn btn-warning btn-lg shadow-lg"
        (click)="longBreak(30,0)">30' LONG BREAK</button>

</div> -->

<app-form></app-form>

<div id="clockAndBtn" class="container">

    <h1 id="reloj" #reloj class="bg-warning shadow-lg">{{setMinutes}}:{{setSeconds}}0</h1>

    <button #start class="btn btn-warning btn-lg shadow-lg" (click)="btnStart(settingsArray[0], 0)">START</button>

    <button #pause class="btn btn-warning btn-lg shadow-lg" (click)="pauseCountDown(contador)">PAUSE</button>

    <button #next class="btn btn-warning btn-lg shadow-lg" (click)="nextCountDown()">NEXT</button>


</div>

<div class="container">

    <button #stop style="width: 315px; height: 50px; margin-top: 2px;" class="btn btn-warning btn-lg shadow-lg" (click)="stopPomodoro()">STOP POMODORO</button>

</div>


