<div class="container">

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-sm shadow-lg" type="submit"
        (click)="addTask()">ADD TASK</button>

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">EDIT TASK</button>

    <div class="container">

        <label for="newTask"></label>
        <input #newTask style="width: 315px; height: 50px; margin-top: 5px;" class="bg-warning" type="text" id="newTask"
            placeholder="New task...">

    </div>

</div>