h1{
    text-align: center;
    font-size: 3em;
    font-family: 'digitalClock';
}

body{
    background-image: url(src/assets/img/wallpaper.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

button {
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    width: 315px;
    font-family: 'digitalClock';
    font-size: 1.5em;
}

.container{
    text-align: center;
    display: block;
}

@font-face {
    font-family: "digitalClock";
    src: url("src/assets/font/DS-DIGI.TTF") format("truetype");
}


@media (max-width:360px) {

    body{
        height: 100vh;
        background-image: url(src/assets/img/wallpaper.jpg);
    }
}