<body>

    <br>

    <div class="container">

        <button class="btn btn-warning btn-sm shadow-lg" routerLink="">Pomodorok</button>
        <button class="btn btn-warning btn-sm shadow-lg" routerLink="/statistics" disabled="{{buttonMenuDisabled}}" href="https://pomodorok.netlify.app/statistics">Statistics</button>
        <button class="btn btn-warning btn-sm shadow-lg" routerLink="/settings" disabled="{{buttonMenuDisabled}}" href="https://pomodorok.netlify.app/settings">Settings</button>

        <hr>

    </div>

    <router-outlet></router-outlet>

</body>