table {
    text-align: center;
    font-family: 'digitalClock';
    margin: 0px auto;
    border-radius: 10px;
    font-size: 1.5em;
}

th,
td {
    font-size: 1em;
}

@media (max-width:360px) {

    #infoTask {
        max-width: 240px;
        overflow: hidden;
        white-space: pre-line;
    }
}