table {
    text-align: justify;
    font-family: 'digitalClock';
    border-radius: 10px;
    font-size: 1.5em;   
}

.infoTime{
    text-align: center;
}

#infoTask{
    text-align: left;
}

.container{
    max-height: 400px;
}

th,
td {
    font-size: 1em;
    font-weight: normal;
}

@media (min-width:360px) {

    #infoTask {
        max-width: 240px;
        word-wrap: break-word;
    }
}
