<div class="container">

    <button class="bg-warning rangeInfo">Focus Time</button>
    <button class="bg-warning rangeInfo">{{range1Value}}'</button>

</div>

<div class="container">

    <label for="customRange1" class="form-label bg-warning"></label>
    <input #range1 type="range" class="form-range" min="5" max="60" step="5" id="customRange1" style="width: 300px;"
        value="{{range1Value}}" (change)="getValueFromRange1()">
        
    <hr>

</div>

<div class="container">

    <button class="bg-warning rangeInfo">Short Break</button>
    <button class="bg-warning rangeInfo">{{range2Value}}'</button>

</div>

<div class="container">

    <label for="customRange2" class="form-label bg-warning"></label>
    <input #range2 type="range" class="form-range" min="5" max="30" step="5" id="customRange1" style="width: 300px;"
        value="{{range2Value}}" (change)="getValueFromRange2()">

    <hr>

</div>

<div class="container">

    <button class="bg-warning rangeInfo">Long Break</button>
    <button class="bg-warning rangeInfo">{{range3Value}}'</button>

</div>

<div class="container">

    <label for="customRange3" class="form-label bg-warning"></label>
    <input #range3 type="range" class="form-range" min="5" max="30" step="5" id="customRange" style="width: 300px;"
        value="{{range3Value}}" (change)="getValueFromRange3()">

    <hr>

</div>

<div class="container">

    <button style="width: 250px; height: 50px;" class="btn btn-warning btn-sm shadow-lg" (click)="saveSettings()">SAVE
        SETTINGS</button>

    <hr>

</div>

<div class="container">

    <button style="width: 250px; height: 50px;" class="btn btn-warning btn-sm shadow-lg" (click)="deleteStatistics()">DELETE STATISTICS</button>

</div>