<p>settings works!</p>

<div class="container">

    <button style="width: 148px; height: 90px;" #longBreak15 class="btn btn-warning btn-sm shadow-lg">15' LONG
        BREAK</button>

    <button style="width: 148px; height: 90x;" #longBreak30 class="btn btn-warning btn-lg shadow-lg">30' LONG
        BREAK</button>

</div>

<div class="container">

    <button style="width: 148px; height: 90px;" #longBreak15 class="btn btn-warning btn-sm shadow-lg"
        >FOCUS</button>

    <button style="width: 148px; height: 90x;" #longBreak30 class="btn btn-warning btn-lg shadow-lg"
        >25' 30' 40' 50' 60'</button>

</div>

<!-- Configurar a settings:
-longBreak: 15' 30' 45' 60'...?
-focus: 25'...?
-dark/light mode?
-Default options. -->