<div class="container settings">

    <button style="width: 200px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">LONG
        BREAK</button>

</div>

<div class="container">

    <button style="width: 148px; height: 50px;" #longBreak15 class="btn btn-warning btn-sm shadow-lg">15'</button>

    <button style="width: 148px; height: 50px;" #longBreak30 class="btn btn-warning btn-lg shadow-lg">30'</button>

</div>

<div class="container">

    <hr>

    <button style="width: 250px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">DELETE STATISTICS</button>

</div>

<!-- <div class="container">

    <button style="width: 200px; height: 50px;" #longBreak15 class="btn btn-warning btn-sm shadow-lg">FOCUS</button>

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">25'</button>

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-lg shadow-lg">40'</button>

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-lg shadow-lg">+</button>

    <button style="width: 148px; height: 50px;" class="btn btn-warning btn-lg shadow-lg">-</button>


</div> -->

<!-- <div class="container">

    <button style="width: 200px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">LIGHT MODE</button>

    <button style="width: 200px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">DARK MODE</button>

</div>

<div class="container">

    <button style="width: 300px; height: 50px;" class="btn btn-warning btn-sm shadow-lg">DEFAULT SETTINGS</button>
    
</div> -->